*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #555555;
}
.container{
    box-shadow: black 0px 0px 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 600px;
    background: #fff;
    padding: 40px 40px 30px;
    border-radius: 10px;
    box-shadow: 1px 9px 35px -2px rgba(0, 0, 0, 0.75);
}

.form-container h2{
    text-align: center;
    color: #333;
    top: 50px;
}

input, select{
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
}
.btn-box {
    display: flex;
    gap: 10px;
}

.btn-box button,
.btn-box a {
    font-size: 20px;
    margin-top: 20px; 
    padding: 10px; 
    background: #3B1C32; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px;
    transition: all 0.4s ease;
}